<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" packages="net.minecraft,com.mojang,fr.juke">
    <Appenders>
        <Console name="SysOut" target="SYSTEM_OUT">
            <EcsLayout serviceName="minecraft"/>
        </Console>
        <File name="LogToFile" fileName="logs/app.log">
            <EcsLayout serviceName="minecraft"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="SysOut"/>
            <AppenderRef ref="LogToFile"/>
        </Root>
    </Loggers>
</Configuration>